{{ template "head" . }}


{{ template "prom_content_head" . }}
<br>
<h2>Calendar service</h2>

<div id="queryGraph"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'pg_stat_user_tables_n_tup_ins{datname="calendar",groups="calendar",job="postgres",relname="events",schemaname="public"}',
  name: "Rows in events table",
  yTitle: "Rows"
})
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'rate(pg_stat_database_tup_fetched{datname="calendar"}[1m])',
  name: "Rate for fetching rows from calendar database",
  yUnits: "[1m]"
})
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'rate(pg_stat_database_tup_inserted{datname="calendar"}[1m])',
  name: "Rate for inserting rows into calendar database",
  yUnits: "[1m]"
})
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'rate(pg_stat_database_tup_deleted{datname="calendar"}[1m])',
  name: "Rate for deleting rows from calendar database",
  yUnits: "[1m]"
})
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'sum(http_return_codes_count{code="404"})',
  name: "Count of requests with 404",
})
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'avg(http_request_duration_seconds_bucket{code="200"}) by (handler)',
  yUnits: "ms",
  yTitle: "Milliseconds"
})
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'sender_messages_count',
  name: "Messages sent by sender",
  yTitle: "Count"
})
new PromConsole.Graph({
  node: document.querySelector("#queryGraph"),
  expr: 'sender_messages_rps',
  name: "Messages rps by sender",
  yTitle: "RPS"

})
</script>

{{ template "prom_content_tail" . }}
{{ template "tail" }}
