{{ template "head" . }}
{{ template "prom_content_head" . }}
<br>
<h2>Calendar service</h2>

<h4>Rows in tables</h4>
<div id="rowsintables"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#rowsintables"),
  expr: 'pg_stat_user_tables_n_tup_ins{datname="calendar",relname="events",schemaname="public"}',
  name: "events",
  yTitle: "Rows"
})
</script>

<h4>Rate for fetching rows from databases</h4>
<div id="rowsfetched"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#rowsfetched"),
  expr: 'rate(pg_stat_database_tup_fetched{datname="calendar"}[1m])',
  name: "calendar",
  yUnits: "[1m]"
})
</script>

<h4>Rate for inserting rows into databases</h4>
<div id="rowsinserted"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#rowsinserted"),
  expr: 'rate(pg_stat_database_tup_inserted{datname="calendar"}[1m])',
  name: "calendar",
  yUnits: "[1m]"
})
</script>

<h4>Rate for deleting rows into databases</h4>
<div id="rowsdeleted"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#rowsdeleted"),
  expr: 'rate(pg_stat_database_tup_deleted{datname="calendar"}[1m])',
  name: "calendar",
  yUnits: "[1m]"
})
</script>

<h4>Total count of results with code 404</h4>
<div id="count404"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#count404"),
  expr: 'sum(http_return_codes_count{code="404"})',
  name: "404"
})
</script>

<h4>Average latency of api requests</h4>
<div id="avglatency"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#avglatency"),
  expr: 'avg(http_request_duration_seconds_bucket{code="200"}) by (handler)',
  yUnits: "ms",
  yTitle: "Milliseconds"
})
</script>

<h4>RPS requests</h4>
<div id="rpsrequests"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#rpsrequests"),
  expr: 'avg(http_requests_rps) by (handler)',
  yTitle: "RPS"
})
</script>

<h4>Messages sent by sender</h4>
<div id="sentsender"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#sentsender"),
  expr: 'sender_messages_count',
  yTitle: "Count",
  name: "messages sent"
})
</script>

<h4>Messages rps by sender</h4>
<div id="rpssender"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#rpssender"),
  expr: 'sender_messages_rps',
  yTitle: "RPS",
  name: "messages rps"
})
</script>

{{ template "prom_content_tail" . }}
{{ template "tail" }}
